@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.page-header-container {
  width: 1060px;
  margin: 0 auto;
}

/* Навигация */
.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.navigation-logo:focus,
.navigation-link:focus {
  outline: 2px solid #82b3d3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 460px;
  padding-left: 168px;
}

.navigation-user {
  justify-content: end;
  align-items: flex-start;
  padding: 0;
  width: 320px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link-search {
  background-image: url("../images/nav-icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.navigation-link-favorite {
  position: relative;
  background-image: url("../images/nav-icons/favorite.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.favorite-counter {
  position: absolute;
  display: flex;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  padding: 0 3px;
  box-sizing: border-box;
}

.navigation-user .navigation-button {
  padding: 0;
}

.navigation-user .navigation-item:last-child {
  padding: 14px 0 14px 20px;
}

.button {
  display: block;
  padding: 8px 8px;
  width: 160px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  box-sizing: border-box;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-button:focus {
  outline: none;
}

.navigation-button:focus .button {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.main-index {
  flex-grow: 1;
}

/* Блок Hero */
.welcome {
  background-color: #3f5e72;
  background-image: url("../images/bg-hero-divider.svg"), url("../images/bg-hero.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  min-height: 353px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-text {
  display: block;
  margin: 0 auto;
}

/* Блок Преимущества */
.advantages-textbox {
  width: 660px;
  padding-top: 69px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.uppercase-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-textbox .uppercase-text {
  margin-bottom: 25px;
}

.plain-text {
  margin: 0;
  text-align: center;
}

/* Карточки с преимуществами */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  padding: 112px 85px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container {
  width: 400px;
  padding: 102px 85px;
  background-color: #82b3d3;
  box-sizing: border-box;
}

.illustrated-item .advantages-title {
  color: #ffffff;
}

.illustrated-item .advantages-text {
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  transform:translateX(-50%);
  bottom: -32px;
}

.advantages-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.illustrated-item {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0;
}

.illustrated-item .advantages-title::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.advantages-image {
  height: 100%;
  object-fit: cover;
}

/* Блок Услуги */
.services-textbox {
  width: 510px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0 auto;
}

/* Карточки Услуг */
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  position: relative;
  width: 400px;
  padding: 81px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}

.housing::before {
  content: "";
  position: absolute;
  background-image: url("../images/service/housing-img.svg");
  width: 75px;
  height: 72px;
  top: 81px;
  left: 50%;
  transform: translate(-50%);
}

.eating::before {
  content: "";
  position: absolute;
  background-image: url("../images/service/eating-img.svg");
  width: 74px;
  height: 70px;
  top: 82px;
  left: 50%;
  transform: translate(-50%);
}

.souvenirs::before {
  content: "";
  position: absolute;
  background-image: url("../images/service/souvenirs-img.svg");
  width: 64px;
  height: 76px;
  top: 79px;
  left: 50%;
  transform: translate(-50%);
}

.services-title {
  margin: 0;
  padding-top: 102px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.services-item:nth-child(2n) {
  background-color: #ffffff
}

/* Поиск гостиницы */
.hotel-search {
  text-align: center;
}

.hotel-search-textbox {
  width: 600px;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.hotel-search-textbox .plain-text {
  margin-bottom: 54px;
}

.hotel-search-link {
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
}

/* Подписка на рассылку */
.newsletter {
  background-color: #3f5e72;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  min-height: 415px;
  padding-bottom: 104px;
  box-sizing: border-box;
}

.newsletter-textbox {
  width: 500px;
  padding-top: 96px;
  padding-bottom: 54px;
  margin: 0 auto;
}
.newsletter .newsletter-textbox {
  color: #ffffff;
}

.newsletter .uppercase-text {
  color: #ffffff;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px 232px;
  justify-content: center;
}

.newsletter-form-field {
  border: 0;
  border-radius: 4px 0 0 4px;
  padding: 15px 20px 13px 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.newsletter-form-field:hover,
.newsletter-form-field:focus {
  background-color: #e6e6e6;
}

.newsletter-form-field:focus {
  outline: none;
}

.newsletter-button {
  border: 0;
  border-radius: 0 4px 4px 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Блок контактов в футере */
.footer-contacts-container {
  padding-top: 45px;
  padding-bottom: 35px;
  width: 1060px;
  margin: 0 auto;
}

.page-footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 142px;
  list-style: none;
}

.footer-social-button {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-button:focus {
  outline: none;
}

.footer-social-button:hover .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-button:focus .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-button:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.footer-logo-link {
  display: block;
  padding-top: 3px;
  width: 115px;
}

.footer-logo-link:focus {
  outline: none;
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-link:hover .footer-logo-icon {
  fill: #756157;
}

.footer-logo-link:focus .footer-logo-icon {
  fill: #756157;
}

.footer-logo-link:active .footer-logo-icon {
  fill: rgba(117, 97, 87, 0.3)
}


/* Каталог */
.main-catalog {
  flex-grow: 1;
}

.main-catalog-header {
  color: #ffffff;
  background-color: #3f5e72;;
  background-image: url("../images/filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 412px;
  padding-bottom: 70px;
  box-sizing: border-box;
}

.main-catalog-container {
  width: 1060px;
  margin: 0 auto;
}

.main-catalog-header-title {
  padding-top: 35px;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content:"";
  display: block;
  width: 6px;
  height: 6px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  position: absolute;
  top: 7px;
  right: -15px;
  transform: rotate(45deg);
}

.breadcrumbs-item:first-child {
  background-image: url("../images/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  outline: 2px solid #82b3d3;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Блок фильтров */
.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-group{
    margin: 0;
    padding: 0;
    border: none;
}

.infrastructure-group {
  width: 170px;
  margin-right: 50px;
}

.housing-type-group {
  width: 170px;
}

.cost-group {
  margin-right: 70px;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  position: relative;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control-input:active + .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/forms/checked.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 6px;
  background-size: 13px 10px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  background-color: #3f5e72;

}

.control-label {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.range-box {
  display: flex;
  gap: 2px;
  width: 288px;
  margin-bottom: 36px;
}

.cost-control {
  position: relative;
}

.cost-input {
  width: 143px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  background-color: #f2f2f2;
}

.cost-input[name="max-cost"] {
  border-radius: 0 4px 4px 0;
}

.cost-input::-webkit-outer-spin-button,
.cost-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.cost-input:hover {
  background-color: #e6e6e6;
}

.cost-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.cost-label {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.range-container {
  position: relative;
  width: 288px;
  height: 20px;
}

.range-scale {
  position: absolute;
  width: 100%;
  height: 1px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  left: 0;
  top: 8px;
  z-index: 1;
}

.range {
  position: absolute;
  height: 1px;
  border-top: 4px solid #ffffff;
  top: -4px;
  z-index: 5;
}

.range-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0;
  top: -12px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.range-handle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-handle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-handle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range-handle-min {
  left: 0;
}

.range-handle-max {
  left: 206px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 56px;
}

.filter-button {
  width: 191px;
  border: none;
  font-family: inherit;
  background-color: #82b3d3;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #68A2CA;
}

.filter-button:focus {
  background-color: #68A2CA;
}

.filter-button:not(:last-child) {
  margin-bottom: 32px;
}

.filter-button-reset {
  background-color: transparent;
}

.filter-button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.filter-button-reset:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.filter-button-reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button-reset:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}


/* Результаты поиска гостиниц */
.catalog-hotels {
  padding-top: 50px;
}

.catalog-options {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.catalog-counter {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 438px;
  margin-right: 100px;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 18px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url("../images/forms/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  outline: none;
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-view-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-view-item {
  margin-right: 8px;
}

.catalog-view-item:last-child {
  margin-right: 0;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  text-decoration: none;
  margin-bottom: 1px;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  outline: none;
  border-color: #68A2CA;
}

.view-button:active {
  border-color: #000000;
}

.view-button-current {
  border-color: #000000;
}

.view-button-table {
  background-image: url("../images/view-icons/table.svg");
}

.view-button-slideshow {
  background-image: url("../images/view-icons/slideshow.svg");
}

.view-button-list {
  background-image: url("../images/view-icons/list.svg");
}

/* Блок карточек гостиниц */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 19px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 81px;
}

/* Карточка гостиницы */
.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px min-content min-content min-content min-content;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-image-link:focus {
  outline: 1px solid #83b3d3;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-title-link:focus {
  outline: none;
  text-decoration-line: underline;
  text-decoration-color: #83b3d3;
}

.hotel-card-image {
  width: 300px;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-button {
  display: block;
  width: 140px;
}

.add-favorite-button {
  display: block;
  width: 140px;
  background-color: #82b3d3;
}

.add-favorite-button:hover {
  background-color: #68A2CA;
}

.add-favorite-button:focus {
  background-color: #68A2CA;
}

.favorite-button {
  display: block;
  width: 140px;
  background-color: #7db54f;
}

.favorite-button:hover {
  background-color: #6C9E42;
}

.favorite-button:focus {
  background-color: #6C9E42;
}

.product-card-stars {
  margin: 0;
  height: 17px;
  align-self: center;
  background: url("../images/rating-star.svg") space 0 0;
}

.product-card-stars-1 {
  width: 20px;
}

.product-card-stars-2 {
  width: 42px;
}

.product-card-stars-3 {
  width: 66px;
}

.product-card-stars-4 {
  width: 88px;
}

.product-card-stars-5 {
  width: 106px;
}

.product-card-rating {
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Пагинация */
.pagination {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}

.pagination::before {
  position: absolute;
  content: "";
  width: 100%;
  top: -41px;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 11px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link:hover,
.pagination-link:focus {
  padding: 10px;
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:focus {
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  padding: 10px;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-dotted,
.pagination-link-dotted:hover,
.pagination-link-dotted:focus,
.pagination-link-dotted:active {
  border: none;
  padding-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.newsletter-catalog {
  text-align: center;
  margin-bottom: 104px;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  display: none;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 64px;
}

.modal-close {
  position: absolute;
  top: 63px;
  right: 51px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-icon {
  padding-left: 2px;
  padding-top: 6px;
  fill: #000000;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-form {
  display: grid;
  grid-template-rows: repeat(3, min-content) 60px;
  gap: 23px;
}

.modal-form-arrival,
.modal-form-departure {
  display: grid;
  grid-template-columns: auto 440px;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  margin-right: 10px;
  padding-top: 12px;
}

.input-wrapper {
  position: relative;
}

.form-input-date {
  width: 440px;
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 13px 50px 11px 20px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;

  margin-bottom: 4px;
}

.form-input-date:hover,
.form-input-date:focus,
.form-input-number:hover,
.form-input-number:focus {
  background-color: #e6e6e6;
}

.form-input-date:focus,
.form-input-number:focus {
  outline: 3px solid #83b3d3;
}

.calendar-button {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  border: none;
  border-radius: 4px;
  top: 14px;
  right: 20px;
  background-color: transparent;
  background-image: url("../images/modal/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

.form-message {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  padding-left: 20px;
}

.form-message-error {
  color: #FF5757;
}

.modal-form-guests-number {
  display: grid;
  grid-template-columns: 247px 242px;
  gap: 88px;
  margin-bottom: 25px;
}

.modal-form-adult-number,
.modal-form-children-number {
  position: relative;
  display: grid;
  grid-template-columns: auto 110px;
}

.form-input-number {
  width: 110px;
  height: 48px;
  border: none;
  padding: 14px 35px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.control-button-less,
.control-button-more {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.control-button-less {
  top: 14px;
  right: 80px;
}

.control-button-more {
  top: 14px;
  right: 10px;
}

.less-icon,
.more-icon {
  fill: rgba(117, 97, 87, 0.3)
}

.control-button-less:hover .less-icon,
.control-button-less:focus .less-icon,
.control-button-more:hover .more-icon,
.control-button-more:focus .more-icon {
  fill: #000000;
}

.control-button-less:focus,
.control-button-more:focus,
.calendar-button:focus {
  outline: 3px solid #82B3D3;
}

.control-button-less:active .less-icon,
.control-button-more:active .more-icon {
  fill: rgba(117, 97, 87, 0.3)
}

.form-label .form-label {
  margin: 0;
  padding: 0;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  padding-left: 12px;
}

.info-button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  background-image: url("../images/modal/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-button:focus {
  outline: none;
}

.tooltip-text {
  position: absolute;
  display: none;
  width: 256px;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #333333;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  top: 100%;
  left: -103px;
  margin-top: 14px;
  z-index: 1;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  background-color: #333333;
  top: 0;
  left: 49%;
  transform: rotate(45deg) translateX(-50%);
}

.info-button:hover + .tooltip-text,
.info-button:focus + .tooltip-text {
  display: block;
}

.form-submit-button {
  width: 577px;
  border: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  background-color: #83b3d3;
  box-sizing: border-box;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #68a2ca;
}

.form-submit-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.form-submit-button:active {
  background-color: #68a2ca;
}
